<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @itemdetail.description %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @itemdetail.barcode %>
</p>

<%= link_to 'Edit', edit_itemdetail_path(@itemdetail) %> |
<%= link_to 'Back', itemdetails_path %>
