<%= form_for(@itemstore) do |f| %>
  <% if @itemstore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@itemstore.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @itemstore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= f.label :item_id %><br>
    <%= f.select :item_id, Item.all.collect { |i| [ i.description, i.id ] } %>
  </div>
 
	<div class="field">
		<%= f.label :store_id %><br>
		<%= f.select :store_id, Store.all.collect { |s| [s.store_name, s.id ] } %>
	</div>

  <div class="field">
		<%= f.label :price %><br>
		<%= f.text_field :price %><br>
  </div>

	<div class="actions">
    <%= f.submit %>
	</div>


<% end %>
